.section {
    background-color: rgb(116, 119, 117);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;
}

.section2 {
    background-color: rgb(116, 119, 117);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
}

p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: azure;
    margin: 30px;
    background-color: dimgray;
    border-radius: 5px;
}

.section img{
    border-radius: 5px;
}

h2{
    color: azure;
}

a{
    color: rgb(0, 0, 0);
}

.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.headers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: azure;
}

#email {
    background-color: rgb(212, 212, 212);
}

#github {
    background-color: rgb(141, 141, 141)
}

#portfolio {
    background-color: rgb(212, 212, 212);
}
